:global(:root) {
  --body-color: #fff;
  --bubbles-color: #ff008d;
  --shadow: 2px 2px 0px 0px #000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: monospace;
  font-size: 15px;
}

ul,
ol {
  list-style: none;
}

button {
  border: none;
  display: inline-block;
}

body {
  background-color: var(--body-color);
}

.layoutContent {
  padding: 50px;
  display: grid;
  grid-template-areas:
    'nav'
    'main';
}

.main {
  grid-area: main;
}
